@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

*{
    font-family: 'Patrick Hand SC';
}
.container {
    background: url(https://cms-assets.tutsplus.com/uploads/users/107/posts/23450/image/30-game-background-mesh-tree.jpg);
    display: flex;
    height: 100%;
    width: 100%;
}
.buttons{
    background: url(https://cms-assets.tutsplus.com/uploads/users/107/posts/23450/image/30-game-background-mesh-tree.jpg);
    margin-bottom: 35px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 40px 0 40px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
  
button {
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-left: 10px;
    padding: 10px 28px;
    font-size: 30px;
    cursor: pointer;
    border-color: #e7e7e7;
    color: black;
  }

.start{
    margin-right: 150px;
    width: 100%;
}
.start p{
    margin: 50px 0 40px 0;
    padding: auto;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    width: 100%;
  }
.new-game{
    width: 100%;
}
#btn-new-game{
    background-color: #50d5a1;
    border-radius: 50em;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    text-align: center; 
}
.btns-row-one{
    margin-bottom: 5px;
}
.btns-row-two{
    margin-bottom: 5px;
}